*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.boddy{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    box-shadow: 0 15px 20px #ABB2B9;
}
h2{
    font-size: 26px;
    font-weight:600 ;
    text-align: left;
    color: #000000;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.input-box:nth-child(2n){
    justify-content: end;
}

.input-box label, .gender-title{
    width: 95%;
    color: #2f4f4f;
    font-weight: bold;
    margin: 5px 0;
}
.gender-title{
    font-size: 16px;
}

.input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid;
    outline: none;
}
.input-box input:is(:focus, :valid){
    box-shadow:0 3px 6px black ;
}
.gender-category label{
    padding: 0 20px 0 5px;
    font-size: 14px;

}
.alert p{
    font-size: 14px;
    font-style: italic;
    color: dimgray;
    margin: 5px 0;
    padding: 10px;
}
/* ******************************************************************************************************************************************************* */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 100%;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #4c57f5;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #3b43b7;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

/* ******************************************************************************************************************************************************* */
   

/* .button-container{
    margin: 15px 0;
}

.button-container button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(200, 200, 243),rgb(44, 44, 236))
}

.button-container button:hover{
    background-image: linear-gradient(to right,rgb(44, 44, 236) , rgb(200, 200, 243));
} */
@media(max-width:600px){
    .container{
        min-width: 280px;
    }
    .content{
        max-height: 380px;
        overflow: auto;
    }
    .input-box{
        margin-bottom: 12px;
        width:100%;

    }
    .input-box:nth-child(2n){
        justify-content: space-between;
    }
    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
}
/*  */
nav {
    background-color: #3b67eb;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav li a:hover {
    background-color: #555555;
  }
  
